/* Setting the padding, display, justify-content, margin, and width of the footer. */
.footer {
  padding: 0 1.063rem 0 1.063rem;
  display: flex;
  justify-content: space-between;
  margin: 0 15px 15px 0;
  /* width: 100%; */
}

/* Setting the font-family, font-style, font-weight, and font-size of the logo. */
.footer .logo {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}

/* Setting the font-family, font-style, font-weight, font-size, and line-height of the logo-text. */
.footer .logo-text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 132%;
}

.footer-items {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  align-items: center;
  width: 30%;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
}

.footer-items .call {
  width: 131px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 10px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Setting the padding, justify-content, flex-direction, and width of the footer and footer-items. */
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 4.063rem 0 4.063rem;
    justify-content: baseline;
  }

  .footer-items {
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
  }
}
